<div class="add-product">
    <h2>Añadir Producto</h2>
    <form (ngSubmit)="addProduct()">
        <label>
            Nombre:
            <input type="text" [(ngModel)]="product.name" name="name" required>
        </label>
        <label>
            Precio:
            <input type="number" [(ngModel)]="product.price" name="price" required>
        </label>
        <label>
            Cantidad:
            <input type="number" [(ngModel)]="product.quantity" name="quantity" required>
        </label>
        <button type="submit">Agregar Producto</button>
    </form>
</div>
